@import "tailwindcss";

@theme {
  --color-primary: #60c4e1;
  --color-dark: #0F172A;
  --color-gold: #FACC15;
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE & Edge */
    scrollbar-width: none; /* Firefox */
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }
}